<div class="controls">
  <label>
    <input type="checkbox" (change)="onAlgorithmChange($event, 'basic')" />
    Basic route
  </label>
  <label>
    <input type="checkbox" (change)="onAlgorithmChange($event, 'nearest-neighbour')" />
    Nearest Neighbour | Plus Proches Voisins
  </label>
  <label>
    <input type="checkbox" (change)="onAlgorithmChange($event, 'two-opt')" />
    2-Opt
  </label>
  <label>
    <input type="checkbox" (change)="onAlgorithmChange($event, 'greedy')" />
    Greedy | Glouton
  </label>
  <label>
    <input type="checkbox" (change)="onAlgorithmChange($event, 'ant-colony')" />
    Ant colony | Colonie de fourmis
  </label>
  <label>
    <input type="checkbox" (change)="onAlgorithmChange($event, 'genetic')" />
    Genetics
  </label>
</div>
